$color1: #38bcd0;
$color2: #2f474e;
$color3: rgb(237, 237, 237);
$color1-opacity-50: rgba(249, 212, 67, 0.5);

$primary: $color1;
$secondary: $color2;
$font-family-sans-serif: "Noto Sans", sans-serif;
